{namespace vh=In2code\Powermail\ViewHelpers}
<f:layout name="Mail" />
<f:section name="main">
	<vh:misc.variables mail="{mail}" type="mail" function="sender">
		<f:format.html parseFuncTSPath="lib.parseFunc_powermail">{powermail_all}</f:format.html>
	</vh:misc.variables>
    <hr>
    <f:link.page absolute="1"><f:translate key="EXT:powermail/Resources/Private/Language/locallang_uol.xlf:form" extensionName="unioltemplate">Online-Formular</f:translate></f:link.page>
	<f:render partial="Mail/DisclaimerLink" arguments="{_all}" />
</f:section>
